@using Quick.Blazor.Bootstrap

<div class="main">
    <div class="content px-4 py-4">
        <div class="row">
            <div class="col-md-6 col-sm-12 mb-3">
                <div class="card">
                    <div class="card-header">
                        设备
                    </div>
                    <div class="card-body p-2">
                        <EditForm Model="@this">
                            <DataAnnotationsValidator />
                            <div class="input-group mb-1">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">　串口</span>
                                </div>
                                @if (isOpen)
                                {
                                    <input type="text" class="form-control" readonly value="@portName" />
                                    <div class="input-group-append">
                                        <button type="button" class="btn btn-secondary" @onclick="CloseSerialPort">关闭</button>
                                    </div>
                                }
                                else
                                {
                                    <InputSelect @bind-Value="portName" class="form-control">
                                        <option value="">请选择</option>
                                        @foreach (var t in System.IO.Ports.SerialPort.GetPortNames())
                                        {
                                            <option value="@t">@t</option>
                                        }
                                    </InputSelect>
                                    <div class="input-group-append">
                                        <button type="button" class="btn btn-secondary" @onclick="BtnOpen_Click">打开</button>
                                    </div>
                                }
                            </div>
                            <div class="input-group mb-1">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">波特率</span>
                                </div>
                                @if (isOpen)
                                {
                                    <input type="text" class="form-control" readonly value="@baudRate" />
                                }
                                else
                                {
                                    <InputNumber class="form-control" @bind-Value="baudRate" />
                                }
                            </div>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">　类型</span>
                                </div>
                                @if (isOpen)
                                {
                                    <input type="text" class="form-control" readonly value="@device.Name" />
                                }
                                else
                                {
                                    <InputSelect @bind-Value="deviceType" class="form-control">
                                        <option value="">请选择</option>
                                        @foreach (var t in Quick.Sms.SmsDeviceManager.Instnce.GetDeviceTypeInfos())
                                        {
                                            <option value="@t.Id">@t.Name</option>
                                        }
                                    </InputSelect>
                                    <div class="input-group-append">
                                        <button type="button" class="btn btn-secondary" @onclick="BtnScan_Click">智能识别</button>
                                    </div>
                                }
                            </div>
                        </EditForm>
                    </div>
                </div>
            </div>
            @if (isOpen)
            {
                <div class="col-md-6 col-sm-12 mb-3">
                    <div class="card">
                        <div class="card-header">
                            短信
                        </div>
                        <div class="card-body p-2">
                            <EditForm Model="@this">
                                <DataAnnotationsValidator />
                                <div class="input-group mb-1">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">号码</span>
                                    </div>
                                    <InputText class="form-control" @bind-Value="@sendTo" />
                                </div>
                                <div class="input-group mb-1">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">内容</span>
                                    </div>
                                    <InputText class="form-control" @bind-Value="sendContent" />
                                </div>
                                <button type="button" class="btn btn-secondary btn-block mb-1" @onclick="btnSend_Click">发送</button>
                            </EditForm>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 mb-3">
                    <div class="card">
                        <div class="card-header">
                            状态
                        </div>
                        <div class="card-body p-2">
                            <button type="button" class="btn btn-secondary btn-block mb-1" @onclick="ReadAllStatus">全部刷新</button>
                            <EditForm Model="@this">
                                @foreach (var status in statusDict.Keys)
                                {
                                    <div class="input-group mb-1">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">@status.Name</span>
                                        </div>

                                        <input type="text" class="form-control" readonly value="@(statusDict[status])" />
                                        <div class="input-group-append">
                                            <button type="button" class="btn btn-secondary" @onclick="()=>ReadStatus(status)">读</button>
                                        </div>
                                        @if (status.Write != null)
                                        {
                                            <div class="input-group-append">
                                                <button type="button" class="btn btn-secondary" @onclick="()=>WriteStatus(status)">写</button>
                                            </div>
                                        }
                                    </div>
                                }
                            </EditForm>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 mb-3">
                    <div class="card">
                        <div class="card-header">
                            终端
                        </div>
                        <div class="card-body p-0">
                            <Quick.Blazor.Bootstrap.Admin.LogViewControl @ref="logViewControl" Rows="23" />
                        </div>
                        <div class="card-footer p-0">
                            <EditForm Model="@this">
                                <div class="input-group m-0">
                                    <div class="input-group-prepend">
                                        <InputSelect @bind-Value="commandType" class="form-control mr-1">
                                            @foreach (var item in Enum.GetValues(typeof(CommandType)))
                                            {
                                                <option value="@item">@(CommandTypeStringConverter.ToString((CommandType)item))</option>
                                            }
                                        </InputSelect>
                                    </div>
                                    <InputText class="form-control" @bind-Value="commandText" />
                                    <div class="input-group-append">
                                        <button type="button" class="btn btn-secondary" @onclick="BtnSendAT_Click">发送</button>
                                    </div>
                                </div>
                            </EditForm>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<ModalLoading @ref="modalLoading" />
<ModalPrompt @ref="modalPrompt" />
<ModalAlert @ref="modalAlert" />